@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

/* Base Styles
********************************************************************* */
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	background-color: #f7f7f7;
	font-size: 1.5em;
	line-height: 1.6;
	font-weight: 400;
	font-family: 'Comfortaa', cursive;
	color: #222;
	margin: 0;
}
/* Grid
********************************************************************* */  
.container {
	position: relative;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}
.column, .columns {
	width: 100%;
	float: left;
	box-sizing: border-box;
}

@media (min-width: 400px) {
.container {
	width: 85%;
	padding: 0;
}
}

@media (min-width: 550px) {
.container {
	width: 80%;
}
.column,  .columns {
	margin-left: 4%;
}
.column:first-child,  .columns:first-child {
	margin-left: 0;
}
.one.column,  .one.columns {
	width: 4.66666666667%;
}
.two.columns {
	width: 13.3333333333%;
}
.three.columns {
	width: 22%;
}
.four.columns {
	width: 30.6666666667%;
}
.five.columns {
	width: 39.3333333333%;
}
.six.columns {
	width: 48%;
}
.seven.columns {
	width: 56.6666666667%;
}
.eight.columns {
	width: 65.3333333333%;
}
.nine.columns {
	width: 74.0%;
}
.ten.columns {
	width: 82.6666666667%;
}
.eleven.columns {
	width: 91.3333333333%;
}
.twelve.columns {
	width: 100%;
	margin-left: 0;
}
.one-third.column {
	width: 30.6666666667%;
}
.two-thirds.column {
	width: 65.3333333333%;
}
.one-half.column {
	width: 48%;
}
/* Offsets */
.offset-by-one.column,  .offset-by-one.columns {
	margin-left: 8.66666666667%;
}
.offset-by-two.column,  .offset-by-two.columns {
	margin-left: 17.3333333333%;
}
.offset-by-three.column,  .offset-by-three.columns {
	margin-left: 26%;
}
.offset-by-four.column,  .offset-by-four.columns {
	margin-left: 34.6666666667%;
}
.offset-by-five.column,  .offset-by-five.columns {
	margin-left: 43.3333333333%;
}
.offset-by-six.column,  .offset-by-six.columns {
	margin-left: 52%;
}
.offset-by-seven.column,  .offset-by-seven.columns {
	margin-left: 60.6666666667%;
}
.offset-by-eight.column,  .offset-by-eight.columns {
	margin-left: 69.3333333333%;
}
.offset-by-nine.column,  .offset-by-nine.columns {
	margin-left: 78.0%;
}
.offset-by-ten.column,  .offset-by-ten.columns {
	margin-left: 86.6666666667%;
}
.offset-by-eleven.column,  .offset-by-eleven.columns {
	margin-left: 95.3333333333%;
}
.offset-by-one-third.column,  .offset-by-one-third.columns {
	margin-left: 34.6666666667%;
}
.offset-by-two-thirds.column,  .offset-by-two-thirds.columns {
	margin-left: 69.3333333333%;
}
.offset-by-one-half.column,  .offset-by-one-half.columns {
	margin-left: 52%;
}
}
/* Typography
********************************************************************* */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 300;
}
/* h1 {
	font-size: 6.0em;
	line-height: 1;
	letter-spacing: -.1rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #27B6C7;
	margin-bottom: 20px;
} */

/*---- Texte effet ----*/
:root {  
	--purple: #fffb08;
	--violet: #ffdf12;
	--pink: rgb(255, 153, 37);
}

@keyframes background-pan {
	from {
	background-position: 0% center;
	}
	
	to {
	background-position: -200% center;
	}
}

@keyframes scale {
	from, to {
	transform: scale(0);
	}
	
	50% {
	transform: scale(1);
	}
}

@keyframes rotate {
	from {
	transform: rotate(0deg);
	}
	
	to {
	transform: rotate(180deg);
	}
}

.family-event {
    font-size: 2.5rem;
    font-weight: 900;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-right: 90px;
}

.family-event > .magic {
	display: inline-block;
	position: relative;
}

.family-event > .magic > .magic-star {
	--size: clamp(20px, 1.5vw, 30px);
	
	animation: scale 700ms ease forwards;
	display: block;
	height: var(--size);
	left: var(--star-left);
	position: absolute;
	top: var(--star-top);
	width: var(--size);
}

.family-event > .magic > .magic-star > svg {
	animation: rotate 1000ms linear infinite;
	display: block;
	opacity: 0.7;
}

.family-event > .magic > .magic-star > svg > path {
	fill: var(--violet);
}

.family-event > .magic > .magic-text {
	animation: background-pan 3s linear infinite;
	background: linear-gradient(
	to right,
	var(--purple),
	var(--violet),
	var(--pink),
	var(--purple)
	);
	background-size: 200%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
}
/* ----Fin texte effet---- */

h2 {
	font-size: 2.7rem;
	line-height: 1.25;
	letter-spacing: -.1rem;
	font-weight: 700;
}
h3 {
	font-size: 3.0rem;
	line-height: 1.3;
	text-align: center;
}
h4 {
	font-size: 2.4rem;
	line-height: 1.35;
	letter-spacing: -.08rem;
}
h5 {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
}
h6 {
	font-size: 1.5rem;
	line-height: 1.6;
	letter-spacing: 0;
}

p {
	font-weight: 900;
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 1.9rem;
}

@media only screen and (max-width: 1150px) {
	
	h1 {
		font-size: 5em;
	}
	
	h2 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 750px) {
	h1 {
		font-size: 3em;
	}
}

@media only screen and (max-width: 550px) {
	#device {
		display: none;
	}
}

header {
	overflow: hidden;
	padding: 20px 0 30px 0;
	background: #ffbd12;
	background-image: url(img/projets/family-event/giphy-circle.gif);
	background-repeat: no-repeat;
    background-position: 130% 70%;
    background-size: 850px;
}
.paragraph {
	font-size: 1.5em;
	font-weight: 600;
	color: #050505;
}
.trait {
	background: #050505;
	height: 30px;
	margin-top: -38px;
}
.title-logo {
	width: 80%;
	margin: 10px 0 30px 0;
}

.image {
	width: 70px;
	margin-bottom: 30px;
}

.icon {
	font-size: 6.5em;
}

img {
	width: 79%;
    height: auto;
    margin-left: 27px;
}

.btn {
	background: #050505;
	-webkit-border-radius: 6;
	-moz-border-radius: 6;
	border-radius: 6px;
	color: #ffffff;
	font-size: 1.4em;
	padding: 14px 30px 14px 30px;
	text-decoration: none;
	border: 0;
	margin: 20px 20px 0 0;
}
.btn a {
	text-decoration: none;
	color: #ffffff;
}

.btn:hover {
	background: #fa1055;
	text-decoration: none;
}
.btn:hover:nth-child(2n) {
	background: #5251ec;
}

#device {
	margin-top: 116px;
	background-size: 160%;
	width: 430px;
}

/* -----Seconde partie ----- */
#whiteBand {
	background-color: #f7f7f7;
	padding: 50px 0 90px 0;
}
.demonstration {
	display: flex;
	
}

.demo {
    height: 500px;
    width: 45%;
    padding-left: 126px;
}
.demo img {
    width: 65%;
    padding-left: 60px;
}

.explication {
	height: 550px;
	width: 60%;
}
.explication p {
	font-size: 2.5rem;
	font-weight: 700;
}

.secondPart {
	width: 100%;
	margin-bottom: 20px;
	background-color: #5251ec;
	color: #fff;
	text-align: justify;
	font-size: 1.3em;
	font-weight: 700;
    height: 254px;
}
.secondPart img {
	width: 15%;
}
.insideSecondPart {
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
	padding-top: 13px;
    background-repeat: no-repeat;
    background-position-x: 55%;
    background-size: contain;
	line-height: 35px;
}

.galerie {
	padding: 55px 0 53px 58px;
    width: 100%;
    background-color: #050505;
}
.galerie img {
	width: 13%;
	cursor: zoom-in;
}

@keyframes background-pan {
from {
	background-position: 0% center;
}

to {
	background-position: -200% center;
}
}

@keyframes scale {
from, to {
	transform: scale(0);
}

50% {
	transform: scale(1);
}
}

@keyframes rotate {
from {
	transform: rotate(0deg);
}

to {
	transform: rotate(180deg);
}
}

.trait-rose {
	background: #050505;
    height: 30px;
    margin-top: -27px;
}
.mission {
	padding: 50px 0;
    display: flex;
    text-align: center;
    margin: auto;
    padding: 80px 0 100px;
    align-items: center;
    background-color: #fa1055;
    color: #f7f7f7;
    width: 100%;
    justify-content: center;
}
.mission h3 {
	font-size: 1.9rem;
	font-weight: 700;
    padding: 7px 0 20px;
}
.mission ul {
	list-style: georgian inside url('../img/projets/family-event/check-listew.png');
	text-align: start;
	padding-left: 120px;
	font-size: 1.8rem;
	line-height: 40px;
}
.liste {
	width: 38%;
}
.marche {
	width: 55%;
}
.marche img, .prototype img {
	border: #2b2b2b 10px solid;
	border-radius: 5px;
}
.zoom:hover {
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.5); 
}

.prototype {
    padding: 100px 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}
.prototype img {
	width: 65%;
	margin-left: 155px;
}
.prototype-img {
	width: 63%;
}
.prototype-texte {
	width: 37%;
	background-image: url("../img/projets/family-event/giphy-star.gif");
	background-repeat: no-repeat;
    background-position: 120% 27%;
    padding: 50px 0;
}
.prototype-texte h2 {
	margin-bottom: 20px;
}

footer {
	background-color: #050505;
	height: 40px;
	color: #fff;
	font-weight: 700;
	padding: 36px 0;
	text-align: center;
}