/* ------------------------------------ */
/* ---------------MOBILE--------------- */
/* ------------------------------------ */
@media screen and (min-width: 320px) and (max-width: 767px) {
    body, html {
        width: 100%;
    }
    nav.top-right {
        width: 100%;
        left: 115px;
        z-index: 1;
    }
    header {
        height: 800px;
        position: relative;
    }
    footer {
        padding: 0 0 20px;
    }
    img.logo-footer {
        max-width: 20% !important;
    }
    #scene {
        height: 915px;
    }
    .projets, .formations {
        height: auto;
        padding-bottom: 150px;
    }
    /* CV */
    #rotate-words div:first-child {
        font-size: 2rem;
        top: 127px;
        left: 9vw;
    }

    .btn-cv {
        padding-top: 119px;
    }
    .cv-pdf p {
        top: 300px;
        font-size: 20rem;
    }
    .cv-pdf span {
        top: 210px;
        font-size: 3rem;
    }
    .cv-pdf {
    height: 169px;
    margin-bottom: 150px;
}
    /* Titres */
    .title--experiences, .title--portfolio, .title--projets, .title--formations,.title--competences, .title--contact{
        font-size: 5rem;
        letter-spacing: -6px;
    }
    .title--competences, .title--contact {
        margin-top: -45px;
    }
	.swiper-button-prev,
	.swiper-button-next {
		width: 60px;
		height: 60px;
		bottom: 0;
	}
	.swiper-arrows {
		height: 60px;
	}
	.swiper-button-prev {
		right: 60px;
	}
	.swiper-button-prev span {
		left: 45%;
	}
	.swiper-button-next span {
		right: 45%;
	}

    /* PRESENTATION*/
    .i-am {
        position: relative;
    }
    .content-inner {
        padding: 20px;
        /* top: 78px; */
        /* background-position: 65% 100%;
        width: 86%; */
    }
    .content-center-propos {
        margin-top: 0;
    }
    .a-propos {
        z-index: -1;
    }
    .a-propos h1 {
        font-size: 28px;
    }
    .a-propos p, .a-propos a {
        
    }
    /* EXPERIENCES */
    .slideshow__slide-image.background-absolute {
        top: 150px;
        left: 0;
        width: 100%;
    }
    .c-header-home_controls.-nomobile.o-button-group {
        margin: -255% 66% -29% 92.5%;
    }
    p.slideshow__slide-caption-content {
        font-size: 2.2rem;
        margin-top: 370px;
        max-width: 100%;
        width: 100%;
    }
    .background-absolute {
        height: 839px;
    }
    .slideshow {
        position: relative;
        min-height: 1200px;
        width: 100%;
    }
    .slideshow__slide-caption-listwork {
        padding-right: 0;
    }
    h3.slideshow__slide-caption-title {
        padding-bottom: 24px;
        margin: 0;
    }
    .slideshow__slide-caption-listwork ul {
        font-size: 1.7rem;
        padding: 0 0 0 60px;
    }
    .pagination {
        display: none;
    }
    /* COMPETENCES */
    .competences--cards div {
        width: 50%;
        height: 250px;
    }
    .bg-titre-cpt {
        height: 34px;
    }
    .bg-titre-cpt {
    background: rgb(10, 10, 11);
    width: 100%;
    height: 34px;
    }
    .competences--cards {
        flex-wrap: wrap;
    }
    .competences--cards h1 {
        font-size: 2.5rem;
    }
    .gdc {
        padding-left: 36px;
    }
    .c--card {
        padding: 0 !important;
    }
    .c--card.bdd {
        padding-right: 0px;
    }
    .c--card.bdd h1 {
        padding-left: 50px;
    }
    .c--card li {
        font-size: 2rem;
    }
    /* PROJETS */
    .projets p {
        font-size: 1.4em;
    }
    /* FORMATIONS */
    .formations--cards {
        flex-wrap: wrap;
    }
    .formations--cards div {
        height: 300px;
        padding: 20px 0;
    }
    .f--card h1 {
        font-size: 1.8em;
    }
    .f--card li {
        font-size: 2rem;
    }
    /* FOOTER */
    footer li {
        font-size: 2.3rem;
    }
    ul.social li a i {
        width: 49px;
        font-size: 35px;
    }
    ul.social li {
        padding-right: 80px;
    }
    footer, footer p {
        text-align: center;
        padding-top: 30px;
        font-size: 2rem;
    }
}
.swiper-button-next::after, .swiper-container-rtl .swiper-button-prev::after {
	content: "attr" !important;
}
.swiper-button-prev::after, .swiper-container-rtl .swiper-button-prev::after {
	content: "attr" !important;
}

/* -------------------------------------- */
/* ---------------TABLETTE--------------- */
/* -------------------------------------- */
@media (min-width: 768px){
	.primary-menu{
		position: relative;
		overflow: hidden;
		/* margin-top: 18px; */
	}

	.primary-menu .navbar-nav{
		right: -75%;
		position: absolute;
		margin-top: 1px;
		opacity: 0;
		transition: 500ms all ease-in-out;
	}

	.primary-menu:hover .navbar-nav{
		right: 70px;
		opacity: 1;
	}
}

@media (max-width: 767px){

    /* HEADER */
        header {
            height: 670px;
        }

        .navbar-nav {
            margin: 7.5px -15px;
            background-color: #fff;
        }
        .navbar-haingo .navbar-collapse {
            background-color: #fff;
        }
        .navbar-haingo {
            height: 60px;
        }
        .navbar-haingo .navbar-brand img {
            margin-top: -3px;
        }
        .navbar>nav>i {
            background-color: blue;
        }
        .navbar-toggle{
            margin-top: -85px;
        }
        .navbar-haingo .navbar-toggle{
            position: absolute;
            margin: -7px 0 0 311px;
            padding: 0;
            width: 100%;
        }
        .navbar-haingo .navbar-header {
            height: 36px;
            padding-left: 6px;
        }
        .navbar-header p {
            line-height: 65px;
            font-size: 2rem;
            margin-left: -9px;
        }
        
        .header-portait {
            top: 0;
        }
        
        #rotate-words {
            padding-top: 190px;
        }
        
        #rotate-words div {
            font-size: 0.65em;
            margin-left: -10px;
        }
        #rotate-words span {
            font-size: 0.5em;
            margin-left: -50px;
        }
        #chase-haingo {
            margin: 290px 0 0 -210px;
            width: 240%;
        }
        #fl2 {
            /* margin-top: 98px;
            margin-left: 24%;
            height: auto;
            width: 53%; */
            display: none !important;
        }
        .phrase-accroche p {
            margin: -190px 0 0 40px;
            font-size: 1.2em;
        }
        .content-center-propos {
            height: 40%;
        }
        .content-center-propos {
            padding: 0 20px;
            margin-top: 169px;
        }

        /* QUI JE SUIS */
        .i-am {
            display: inline-block;
            /* flex-direction: column-reverse; */
            width: 100%;
        }
        .i-am-text {
            width: 100%;
        }
        .btn-cv {
            width: 100%;
        }
        .a-propos h1 {
            font-size: 33px;
        }
        .content-inner {
            background-position: 34% 106%;
            background-size: 50%;
            height: 740px;
            width: 100%;
        }
        .content-container p, .content-container h1 {
            /* width: 480%; */
        }
        .content-center-propos {
            width: 86%;
        }
        .a-propos p, .a-propos a {
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 1.8rem;
        }

        /* EXPERIENCES */
        .btn-cv {
            /* padding-top: 110px; */
        }

}